body {
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    width: 500px;
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 10px;
}
.inner-card {
    padding: 10px;
    display: none;
}
.header {
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 1% 0;
    border: 1px solid gray;
    user-select: none;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-style {
    justify-content: center;
    align-items: center;
}
.green {
    background-color: #3cba54;
}
.blue {
    background-color: #4885ed;
}
.red {
    background-color: #db3236;
}
.yellow {
    background-color: #f4c20d;
}
.dark {
    background-color: #36393f;
}
p {
    padding-left: 10px;
}
.block {
    display: block !important;
}
button {
    user-select: none;
    cursor: pointer;
    transition: 200ms;
    border: none;
    height: 3rem;
}
button:hover {
    background-color: #82c5e4;
}
button:active {
    background-color: #69b9df;
}
img {
    user-select: none;
}